<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Stock Chart</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
<br><h1>Generated Graph for <font color="red">{{ticker}}</font></h1>
<a href="index"><<==again</a>
		</div>
	</body>
</html>
